# Aggregate Dataset for PSP

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns

In [2]:
dir_root = '../../data/modified_psp_data/'
dir_out = '../../data/modified_psp_data/'

path_train = os.path.join(dir_root, "df_agg_20230426_001200_01.csv")

In [3]:
def get_null_cols(df_data, num_null=0):
    display(df_data[df_data.isnull().any(axis=1)])
    
    dict_col_nulls = dict(df_data.isnull().sum(axis = 0))
    display(dict_col_nulls)
    
    list_null_cols = []
    for col, count_nulls in dict_col_nulls.items():
        if count_nulls > num_null:
            list_null_cols.append(col)
    
    display(list_null_cols)
    return list_null_cols

In [4]:
def read_data(csv_path):
    df_agg = pd.read_csv(csv_path)
    
    list_null_cols = get_null_cols(df_agg)
    
    list_all_cols = list(df_agg.columns)
    list_selected_cols = [x for x in list_all_cols if x not in list_null_cols]
    
    print(f"Removed NULL columns: {len(list_null_cols)}")
    # Alternatively, we could assign a specific value for each column having NULL. 
    # Needs more domain knowledge.
    
    df_agg = df_agg[list_selected_cols]
    
    return df_agg, list_null_cols

In [5]:
df_agg, list_null_cols = read_data(path_train)

df_agg.head()

,ith_sess,session_id,navigate_click:0-4,cutscene_click:0-4,person_click:0-4,object_click:0-4,notification_click:0-4,observation_click:0-4,object_hover:0-4,map_hover:0-4,...,q13,q14,q15,q16,q17,q18,num_correct,notebook_click:0-4,notebook_click:5-12,notebook_click:13-22
0,0,20090312431273200,81,28,22,11,8,4.0,4.0,4.0,...,0,1,1,0,1,1,16,NaN,NaN,NaN
3,3,20090314363702160,66,32,18,11,6,NaN,8.0,2.0,...,0,1,0,0,1,1,15,NaN,NaN,6.0
4,4,20090314441803444,37,29,18,6,5,NaN,5.0,4.0,...,0,1,1,1,1,1,14,NaN,NaN,NaN
5,5,20090315081004164,78,36,18,35,9,2.0,6.0,1.0,...,1,1,1,1,1,1,14,NaN,2.0,NaN
10,10,20090317111400710,124,29,22,30,11,7.0,9.0,3.0,...,1,1,1,0,1,1,12,NaN,16.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11768,11768,22100212552203824,147,39,34,37,8,NaN,4.0,4.0,...,0,1,0,1,0,0,7,NaN,22.0,60.0
11770,11770,22100213133089136,62,32,18,10,6,NaN,3.0,2.0,...,0,1,1,0,1,1,15,NaN,3.0,2.0
11771,11771,22100215032067016,74,45,21,15,5,NaN,2.0,2.0,...,0,1,1,1,1,1,14,NaN,2.0,NaN
11772,11772,22100215190998610,96,28,22,21,9,NaN,2.0,6.0,...,0,0,0,0,0,0,3,NaN,NaN,53.0
11776,11776,22100217104993650,104,28,23,15,11,4.0,6.0,NaN,...,1,1,0,0,1,1,15,3.0,15.0,49.0

{'ith_sess': 0,
 'session_id': 0,
 'navigate_click:0-4': 0,
 'cutscene_click:0-4': 0,
 'person_click:0-4': 0,
 'object_click:0-4': 0,
 'notification_click:0-4': 0,
 'observation_click:0-4': 3843,
 'object_hover:0-4': 934,
 'map_hover:0-4': 2062,
 'map_click:0-4': 0,
 'checkpoint:0-4': 1,
 'person_click:5-12': 0,
 'navigate_click:5-12': 0,
 'object_click:5-12': 0,
 'object_hover:5-12': 934,
 'cutscene_click:5-12': 0,
 'map_hover:5-12': 934,
 'notification_click:5-12': 0,
 'map_click:5-12': 0,
 'observation_click:5-12': 0,
 'checkpoint:5-12': 0,
 'navigate_click:13-22': 0,
 'person_click:13-22': 0,
 'cutscene_click:13-22': 0,
 'object_click:13-22': 0,
 'map_hover:13-22': 934,
 'object_hover:13-22': 934,
 'notification_click:13-22': 0,
 'map_click:13-22': 0,
 'observation_click:13-22': 0,
 'checkpoint:13-22': 0,
 'elapsed_time:0-4': 1,
 'event_index:0-4': 1,
 'elapsed_time:5-12': 0,
 'event_index:5-12': 0,
 'elapsed_time:13-22': 0,
 'event_index:13-22': 0,
 'q1': 0,
 'q2': 0,
 'q3': 0,
 'q4': 0,
 'q5': 0,
 'q6': 0,
 'q7': 0,
 'q8': 0,
 'q9': 0,
 'q10': 0,
 'q11': 0,
 'q12': 0,
 'q13': 0,
 'q14': 0,
 'q15': 0,
 'q16': 0,
 'q17': 0,
 'q18': 0,
 'num_correct': 0,
 'notebook_click:0-4': 4797,
 'notebook_click:5-12': 3635,
 'notebook_click:13-22': 2404}

['observation_click:0-4',
 'object_hover:0-4',
 'map_hover:0-4',
 'checkpoint:0-4',
 'object_hover:5-12',
 'map_hover:5-12',
 'map_hover:13-22',
 'object_hover:13-22',
 'elapsed_time:0-4',
 'event_index:0-4',
 'notebook_click:0-4',
 'notebook_click:5-12',
 'notebook_click:13-22']

Removed NULL columns: 13

,ith_sess,session_id,navigate_click:0-4,cutscene_click:0-4,person_click:0-4,object_click:0-4,notification_click:0-4,map_click:0-4,person_click:5-12,navigate_click:5-12,...,q10,q11,q12,q13,q14,q15,q16,q17,q18,num_correct
0,0,20090312431273200,81,28,22,11,8,2,104,103,...,1,1,1,0,1,1,0,1,1,16
1,1,20090312433251036,49,36,18,15,5,3,97,115,...,0,0,1,0,1,0,1,0,1,10
2,2,20090314121766812,64,26,19,19,8,2,98,131,...,1,1,1,0,1,1,1,0,1,12
3,3,20090314363702160,66,32,18,11,6,2,114,99,...,1,1,1,0,1,0,0,1,1,15
4,4,20090314441803444,37,29,18,6,5,2,93,76,...,1,0,1,0,1,1,1,1,1,14

In [15]:
list_id = [
    'ith_sess',
    'session_id'
]

list_agg = [
    'navigate_click:0-4',
    'cutscene_click:0-4',
    'person_click:0-4',
    'object_click:0-4',
    'notification_click:0-4',
    'observation_click:0-4',
    'object_hover:0-4',
    'map_hover:0-4',
    'map_click:0-4',
    'checkpoint:0-4',
    'person_click:5-12',
    'navigate_click:5-12',
    'object_click:5-12',
    'object_hover:5-12',
    'cutscene_click:5-12',
    'map_hover:5-12',
    'notification_click:5-12',
    'map_click:5-12',
    'observation_click:5-12',
    'checkpoint:5-12',
    'navigate_click:13-22',
    'person_click:13-22',
    'cutscene_click:13-22',
    'object_click:13-22',
    'map_hover:13-22',
    'object_hover:13-22',
    'notification_click:13-22',
    'map_click:13-22',
    'observation_click:13-22',
    'checkpoint:13-22',
    'notebook_click:0-4',
    'notebook_click:5-12',
    'notebook_click:13-22'
]
list_agg.sort()

list_checkpoint_agg = [
    'elapsed_time:0-4',
    'event_index:0-4',
    'elapsed_time:5-12',
    'event_index:5-12',
    'elapsed_time:13-22',
    'event_index:13-22'
]
list_checkpoint_agg.sort()

list_q = [f"q{x}" for x in range(1, 19)]
list_q.append('num_correct')


list_agg = [x for x in list_agg if x not in list_null_cols]
list_checkpoint_agg = [x for x in list_checkpoint_agg if x not in list_null_cols]

list_cols = list_id + list_agg + list_checkpoint_agg + list_q

In [16]:
len(list_cols)

47

In [17]:
df_agg = df_agg[list_cols]

display(df_agg.shape)

df_agg.head()

(11779, 47)

,ith_sess,session_id,checkpoint:13-22,checkpoint:5-12,cutscene_click:0-4,cutscene_click:13-22,cutscene_click:5-12,map_click:0-4,map_click:13-22,map_click:5-12,...,q10,q11,q12,q13,q14,q15,q16,q17,q18,num_correct
0,0,20090312431273200,1,1,28,60,12,2,6,8,...,1,1,1,0,1,1,0,1,1,16
1,1,20090312433251036,1,1,36,65,11,3,45,16,...,0,0,1,0,1,0,1,0,1,10
2,2,20090314121766812,1,1,26,58,14,2,7,9,...,1,1,1,0,1,1,1,0,1,12
3,3,20090314363702160,1,1,32,76,11,2,12,7,...,1,1,1,0,1,0,0,1,1,15
4,4,20090314441803444,1,1,29,57,11,2,6,6,...,1,0,1,0,1,1,1,1,1,14

# Split into train and test data

In [18]:
import random

def create_train_test_splits(dir_out, df_data, test_split=0.2):
    list_unique_sessions = list(df_data['session_id'].unique())
    print(f"list_unique_sessions: {len(list_unique_sessions)}")
    
    len_data = len(list_unique_sessions)
    len_test = int(test_split * len_data)
    
    list_random_sessions = random.sample(list_unique_sessions, len_data)
    
    list_train_sessions = list_random_sessions[:-len_test]
    list_test_sessions = list_random_sessions[-len_test:]
    
    df_train = pd.DataFrame()
    df_train["session_id"] = list_train_sessions
    df_train["split_type"] = "train"
    
    df_test = pd.DataFrame()
    df_test["session_id"] = list_test_sessions
    df_test["split_type"] = "test"
    
    print(f"Train split: {df_train.shape}, Test split: {df_test.shape}")
    
    df_train_test_splits = pd.concat([df_train, df_test], axis=0)
    print(f"Combined len: {df_train_test_splits.shape}")
    
    split_out_path = os.path.join(dir_out, "df_train_test_splits.csv")
    
    df_train_test_splits.to_csv(split_out_path, index=False)
    print(f"Saved df_train_test_splits at: {split_out_path}")
    
    return df_train_test_splits
    

    
def get_train_test_splits_splits(df_agg):
    print(f"Combined len: {df_agg.shape}")
    
    split_out_path = os.path.join(dir_out, "df_train_test_splits.csv")
    df_train_test_splits = pd.read_csv(split_out_path)
    
    list_train_sessions = list(df_train_test_splits[df_train_test_splits["split_type"] == "train"]['session_id'])
    list_test_sessions = list(df_train_test_splits[df_train_test_splits["split_type"] == "test"]['session_id'])
 
    df_agg_train = df_agg[df_agg['session_id'].isin(list_train_sessions)].copy()
    df_agg_test = df_agg[df_agg['session_id'].isin(list_test_sessions)].copy()
    
    print(f"Train split: {df_agg_train.shape}, Test split: {df_agg_test.shape}")
    
    
    return df_agg_train, df_agg_test

In [19]:
# df_1 = create_train_test_splits(dir_out, df_agg)

df_agg_train, df_agg_test = get_train_test_splits_splits(df_agg)

Combined len: (11779, 47)
Train split: (9424, 47), Test split: (2355, 47)

# Statistical Analysis

In [20]:
# !pip install statsmodels

In [21]:
import statsmodels.api as sm

In [28]:
# df_temp = df_agg_train.head(100)
df_temp = df_agg_train.copy()

list_cols_x = list_agg + list_checkpoint_agg
list_cols_y = list_q
col_y = list_cols_y[-1]

In [29]:

# define predictor and response variables
y = df_temp[col_y]
x = df_temp[list_cols_x]

# add constant to predictor variables
x = sm.add_constant(x)

# fit linear regression model
model = sm.OLS(y, x).fit()

# view model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            num_correct   R-squared:                       0.296
Model:                            OLS   Adj. R-squared:                  0.294
Method:                 Least Squares   F-statistic:                     151.9
Date:                Wed, 26 Apr 2023   Prob (F-statistic):               0.00
Time:                        15:41:07   Log-Likelihood:                -22382.
No. Observations:                9424   AIC:                         4.482e+04
Df Residuals:                    9397   BIC:                         4.501e+04
Df Model:                          26
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       14.5310      0.630     23.074      0.000      13.297      15.765
checkpoint:13-22             1.2857      0.805      1.597      0.110      -0.292       2.863
checkpoint:5-12              2.4930      0.806      3.094      0.002       0.914       4.072
cutscene_click:0-4          -0.0244      0.005     -5.361      0.000      -0.033      -0.015
cutscene_click:13-22         0.0680      0.004     15.922      0.000       0.060       0.076
cutscene_click:5-12         -0.0068      0.013     -0.507      0.612      -0.033       0.020
map_click:0-4                0.3280      0.031     10.731      0.000       0.268       0.388
map_click:13-22             -0.0530      0.006     -9.203      0.000      -0.064      -0.042
map_click:5-12               0.0064      0.009      0.684      0.494      -0.012       0.025
navigate_click:0-4           0.0033      0.001      2.813      0.005       0.001       0.006
navigate_click:13-22        -0.0017      0.000     -3.877      0.000      -0.003      -0.001
navigate_click:5-12          0.0019      0.001      2.155      0.031       0.000       0.004
notification_click:0-4       0.0967      0.013      7.289      0.000       0.071       0.123
notification_click:13-22     0.0256      0.007      3.481      0.001       0.011       0.040
notification_click:5-12     -0.0707      0.018     -3.961      0.000      -0.106      -0.036
object_click:0-4            -0.0136      0.002     -5.702      0.000      -0.018      -0.009
object_click:13-22          -0.0044      0.001     -3.071      0.002      -0.007      -0.002
object_click:5-12           -0.0049      0.001     -4.921      0.000      -0.007      -0.003
observation_click:13-22     -0.0969      0.023     -4.223      0.000      -0.142      -0.052
observation_click:5-12      -0.0734      0.016     -4.502      0.000      -0.105      -0.041
person_click:0-4            -0.0367      0.010     -3.854      0.000      -0.055      -0.018
person_click:13-22          -0.0219      0.003     -8.078      0.000      -0.027      -0.017
person_click:5-12           -0.0299      0.003     -9.672      0.000      -0.036      -0.024
elapsed_time:13-22       -4.429e-10   7.81e-10     -0.567      0.571   -1.97e-09    1.09e-09
elapsed_time:5-12         1.142e-09   1.54e-09      0.743      0.457   -1.87e-09    4.15e-09
event_index:13-22           -0.0010      0.000     -3.517      0.000      -0.001      -0.000
event_index:5-12            -0.0016      0.001     -2.820      0.005      -0.003      -0.000
==============================================================================
Omnibus:                      275.807   Durbin-Watson:                   2.009
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              319.755
Skew:                          -0.384   Prob(JB):                     3.68e-70
Kurtosis:                       3.474   Cond. No.                     1.71e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.71e+09. This might indicate that there are
strong multicollinearity or other numerical problems.